/* General Rules */
*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    font-family: 'Fredoka', sans-serif;
}

/* Header Rules */
header{
    height: 100px;
    text-align: center;
    /* DEBUG */
    background-color: blue;
}

h1{
    font-family: 'Fredoka One', cursive;
}

/* Main Rules */
.container{
    width: 75%;
    margin: auto;
    margin-top: 30px;
    /* DEBUG */
    background-color: red;
    min-height: 200px;
}

/* Cards Rules */
.row{
    /* DEBUG  */
    background-color: blueviolet;
    width: 100%;
    min-height: 100px;
    border: 2px solid black;
}

.card{
    width: calc(100% / 3 - 20px);
    margin: 0px 10px;
    float: left;
    color: white;
    height: 70px;
    background-color: #0f0e17;
}

h3{
    font-family: 'Fredoka One', cursive;
    font-size: 13px;
    margin-top: 7px;
    font-weight: lighter;

}

.card a,h6{
    font-size: 13px;
    font-weight: lighter;
    margin-top: 5px;
}

.card > img{
    height: 100%;
    float: left;
    margin-right: 5px;
}