/* General Rules */
*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    font-family: 'Fredoka', sans-serif;
}

/* Header Rules */
header{
    height: 100px;
    text-align: center;
    width: 75%;
    margin: auto;
}

header > h1{
    font-family: 'Fredoka One', cursive;
    color: #e53170;
    margin: 20px 0px 35px;
}

/* Main Rules */
.container{
    width: 70%;
    margin: auto;
    margin-top: 55px;
}

/* Cards Rules */
.card{
    width: calc(100% / 3 - 20px);
    margin: 10px 10px 30px;
    float: left;
    color: white;
    height: 80px;
    background-color: #0f0e17;
    box-shadow:  3px 3px 5px #dedede, -3px -3px 5px #dedede, 3px -3px 5px #dedede, -3px  3px 5px #dedede;
    line-height: 23px;
}

.card > img{
    height: 100%;
    float: left;
    margin-right: 5px;
}


.card > h3{
    font-family: 'Fredoka One', cursive;
    font-size: 13px;
    margin-top: 7px;
    font-weight: lighter;
}

.card > h3:hover{
    font-size: 16px;
    cursor: pointer;
    text-decoration: underline;
}

.card > h6{
    font-size: 13px;
    font-weight: lighter;
}

.card > a{
    font-size: 13px;
    text-decoration: none; 
    color: #58c0d9;
}

.card > a:hover{
    color: #551A8B;
    text-decoration: underline;
}
