/* General Rules */
*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    font-family: 'Fredoka One', cursive;
}

header{
    height: 100px;
    /* DEBUG */
    background-color: blue;
}

.container{
    width: 80%;
    margin: auto;
    /* DEBUG */
    background-color: red;
    min-height: 200px;
}

.row{
    /* DEBUG  */
    background-color: blueviolet;
    width: 100%;
    min-height: 100px;
    border: 2px solid black;
}

.card{
    width: calc(100% / 3 - 20px);
    margin: 0px 10px;
    float: left;
    /* DEBUG */
    background-color: brown;
    min-height: 50px;
    
}